[Desktop Entry]
Type=Application
Name=PW Mix
GenericName=PipeWire Mixer
Comment=Mixer-style view of PipeWire apps, devices and connections
Exec=pwmix
Icon=multimedia-volume-control
Terminal=false
Categories=AudioVideo;Audio;Mixer;
